@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  width: 100vh;
  height: 100vh;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 2px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 6s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #e85a71;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #d8e9ef;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #4ea1d3;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #454552;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #e85a71;
  animation-delay: -5s;
}

.text-copy:nth-child(6) {
  stroke: #d8e9ef;
  animation-delay: -6s;
}

.text-copy:nth-child(7) {
  stroke: #4ea1d3;
  animation-delay: -7s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
